body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", arial, helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    padding: 16px 200px 120px;
    font-size: 22px;
    font-weight: 900;
}

.nav {
    display: flex;
}

.content {
    display: flex;
    padding-top: 120px;
    gap: 80px;
}

.content img {
    height: 300px;
    width: auto;
}

.text p {
    font-weight: normal;
    color: #E5E7EB;
    font-size: 18px;
}

.text button {
    background-color: #3882F6;
    color: #fff;
    font-size: 16px;;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
}

.card img {
    height: 200px;
    width: auto;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
    gap: 20px;

}

li {
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
}